body{
  height: 100vh;
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
}

body.block-scroll{
  overflow: hidden;
}

header{
  align-items: center;
  background-color: hsla(0, 0%, 0%);
  border-bottom: 2px solid hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
  min-height: 5vh;
  padding: 0.5rem 2rem;
}

.header-group{
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main{
  animation:bganimation 30s infinite;
  background-attachment: fixed;
  background: 
    radial-gradient(ellipse at center, hsla(240, 86%, 57%, 0.3) 0%, rgba(0,0,0,0) 70%),
    radial-gradient(ellipse at center, hsla(260, 81%, 18%, 0.3) 0%, rgba(0,0,0,0) 70%), 
    radial-gradient(ellipse at center, hsla(316, 94%, 14%, 0.3) 0%, rgba(0,0,0,0) 70%) 
    #170150;
  background-repeat: 
    no-repeat, 
    no-repeat, 
    no-repeat;
  background-size: 
    900px 900px,
    900px 900px,
    900px 900px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100%;
  padding-bottom: 2rem;
}

@keyframes bganimation{
  0%{
    background-position: 
      -100% -100%,
      200% 200%,
      -100% 200%,
      200% -100%;
  }
  50% {
    background-position: 
      150% 100%,
      -200% 100%,
      100% 0%,
      0% 100%;
  }
  100% {
    background-position: 
      -100% -100%,
      200% 200%,
      -100% 200%,
      200% -100%;
  }
}

footer{
  background-color: hsl(0, 0%, 0%);
  border-top: 2px solid hsl(0, 0%, 100%);
  padding: 2rem 5%;
  width: 90%;
}

